<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
        <script>
            $(document).ready(function () {
                $('#allProducts').DataTable();
            });
        </script>
    </header>
    <main>
        <h1 style="margin-top: 20px" class="text-center">All Products</h1>

        <table class="table" id="allProducts">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Manufacture</th>
                <th>Model</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, iter : ${products}">
                <td th:text="${iter.index} + 1"></td>
                <td><img th:src="${product.imageUrl}" width="40" height="40" alt="Product"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.manufacture}"></td>
                <td th:text="${product.model}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/products/details/{id}(id=${product.id})}" th:text="Details"></a>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/products/edit/{id}(id=${product.id})}" th:text="Edit"></a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/products/delete/{id}(id=${product.id})}" th:text="Delete"></a>
                </td>
            </tr>
            </tbody>
        </table>

    </main>
    <footer class="py-5 bg-dark">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>

