<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
    <script th:src="@{/js/office-validate.js}"></script>
</heder>
<main>
    <div th:insert="~{fragments/office-form :: office-form-fragment(
        url=@{${T(org.softuni.carpartsshop.config.Constant).ADD_OFFICE_ACTION}},
        title=${'Add Office'},
        methodLabel=${T(org.softuni.carpartsshop.config.Constant).FORM_METHOD},
        buttonText=${'add'}
        )}">

    </div>

</main>
<footer class="py-5 bg-dark">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
<script>
    validFormScript();
</script>
</body>
</html>