<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<main class="mt-2">
    <hr class="hr-2 bg-dark"/>
    <h5 class="text-center text-dark" th:text="${'All Offices'}"></h5>
    <hr class="hr-2 bg-dark w-75"/>
<!--    <table class="table table-active w-75 mx-auto">-->
<!--        <thead>-->
<!--        <tr class="row mx-auto text-dark">-->
<!--            <th class="col-md-1 text-center" th:text="${'City'}"></th>-->
<!--            <th class="col-md-1 text-center" th:text="${'Address'}"></th>-->
<!--            <th class="col-md-1 text-center" th:text="${'Phone Number'}"></th>-->
<!--            <th class="col-md-1 text-center" th:text="${'Email'}"></th>-->
<!--            <th class="col-md-2 text-center" th:text="${'Image'}"></th>-->
<!--            <th class="col-md-2 text-center" th:text="${'Action'}"></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <th:block th:each="office, iter : ${offices}">-->
<!--            <tr class="row mx-auto text-dark">-->
<!--                <td class="col-md-1 text-center" th:text="${iter.index + 1}"></td>-->
<!--                <td class="col-md-1 text-center" th:text="${office.city}"></td>-->
<!--                <td class="col-md-1 text-center" th:text="${office.address}"></td>-->
<!--                <td class="col-md-1 text-center" th:text="${office.email}"></td>-->
<!--                <td class="col-md-1 text-center" th:text="${office.phoneNumber}"></td>-->
<!--                <td class="col-md-2 text-center" th:text="${office.imageUrl}"></td>-->

<!--                <td class="col-md-2 text-center">-->
<!--                    <div class="row">-->
<!--                        <a class="btn btn-outline-dark" th:text="${'Edit'}"-->
<!--                           th:href="@{${T(org.softuni.carpartsshop.config.Constant).EDIT_OFFICE_ACTION}+${office.id}}"></a>-->
<!--                        <a class="btn btn-outline-dark" th:text="${'Delete'}"-->
<!--                           th:href="@{${T(org.softuni.carpartsshop.config.Constant).DELETE_OFFICE_ACTION}+${office.id}}"></a>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--        </tbody>-->
<!--    </table>-->

    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-3 text-center">Image</th>
            <th class="col-md-3 text-center">City</th>
            <th class="col-md-2 text-center">Address</th>
            <th class="col-md-3 text-center">Phone Number</th>
            <th class="col-md-3 text-center">Email</th>
            <th class="col-md-3 text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="office, iter : ${offices}">
            <tr class="row mx-auto">
                <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                <td class="col-md-3"><div class="text-center"><img th:src="${office.imageUrl}" width="40" height="40" alt="Product"></div></td>
                <td class="col-md-3 text-center" th:text="${office.city}"></td>
                <td class="col-md-3 text-center" th:text="${office.address}"></td>
                <td class="col-md-2 text-center" th:text="${office.phoneNumber}"></td>
                <td class="col-md-2 text-center" th:text="${office.email}"></td>
                <td class="col-md-3 text-center">
                    <a th:href="@{${T(org.softuni.carpartsshop.config.Constant).EDIT_OFFICE_ACTION}+${office.id}}" class="btn btn-success font-weight-bold text-white">Edit</a>
                    <a th:href="@{${T(org.softuni.carpartsshop.config.Constant).DELETE_OFFICE_ACTION}+${office.id}}" class="btn btn-danger font-weight-bold text-white">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <hr class="hr-2 bg-dark"/>


</main>
<footer class="py-5 bg-dark">
    <th:block th:include="~{fragments/footer}"></th:block>


</footer>
</body>
</html>