<th:block th:fragment>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" th:href="${favicon}">
    <title th:text="${title}"></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/shop-homepage.css}" >


<!--    <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>-->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</th:block>