<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="jumbotron mt-4">
            <h1 th:text="${message}"></h1>

            <hr/>
        </div>
    </main>

    <footer class="py-5 bg-dark">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>