<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="~{fragments/head}"></th:block>
	<script type="text/javascript" charset="utf8"
			src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
<div class="container-fluid">
	<header>
		<th:block th:include="~{fragments/navbar}"></th:block>
		<script>
			$(document).ready(function () {
				$('#allOffices').DataTable();
			});
		</script>
	</header>

	<main >
		<h1 style="margin-top: 20px" class="text-center">All Categories</h1>

		<table class="table" id="allOffices">
			<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Action</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="category, iter : ${categories}">
				<td th:text="${iter.index} + 1" ></td>
				<td th:text="${category.name}"></td>
				<td>
					<a class="btn btn-info"
					   th:href="@{/categories/edit/{id}(id=${category.id})}" th:text="Edit"></a>
				</td>
				<td>
					<a class="btn btn-info"
					   th:href="@{/categories/delete/{id}(id=${category.id})}" th:text="Delete"></a>
				</td>
			</tr>
			</tbody>
		</table>

	</main>


	<footer class="py-5 bg-dark">
		<th:block th:include="~{fragments/footer}"></th:block>
	</footer>
</body>
</html>