<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
        <script>
            $(document).ready(function () {
                $('#allUsers').DataTable();
            });
        </script>
    </header>
    <main>
        <h1 style="margin-top: 20px" class="text-center">Users</h1>

        <table class="table" id="allUsers">
            <thead>
            <tr>
                <th>#</th>
                <th>UserName</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>CreditCard Number</th>
                <th>Roles</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iter : ${users}">
                <td th:text="${iter.index} + 1"></td>
                <td th:text="${user.username}" class="item"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.creditCardNumber}"></td>
                <td th:text="${#strings.listJoin(user.authorities, ', ')}"></td>
                <td>
                    <div class="row">
                        <th:block
                                th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                                                    !#lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                                                }">
                            <form th:action="@{/users/set-moderator/{id}(id=${user.id})}"
                                  method="post">
                                <input type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-dark">Moderator</button>
                            </form>
                            <form th:action="@{/users/set-admin/{id}(id=${user.id})}"
                                  method="post">
                                <input type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-dark">Admin</button>
                            </form>
                        </th:block>
                        <th:block
                                th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                                                    #lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                                                }">
                            <form th:action="@{/users/set-user/{id}(id=${user.id})}"
                                  method="post">
                                <input type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-dark">User</button>
                            </form>
                            <form th:action="@{/users/set-admin/{id}(id=${user.id})}"
                                  method="post">
                                <input type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-dark">Admin</button>
                            </form>
                        </th:block>
                        <th:block
                                th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                                                    #lists.contains(user.authorities, 'ROLE_MODERATOR') && #lists.contains(user.authorities, 'ROLE_ADMIN') && !#lists.contains(user.authorities, 'ROLE_ROOT')
                                                }">
                            <form th:action="@{/users/set-user/{id}(id=${user.id})}"
                                  method="post">
                                <input type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-dark">User</button>
                            </form>
                            <form th:action="@{/users/set-moderator/{id}(id=${user.id})}"
                                  method="post">
                                <input type="hidden" name="_csrf"
                                       value="80417983-fe8b-45c7-963e-31f6915a1560">
                                <button class="btn btn-dark">Moderator</button>
                            </form>
                        </th:block>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer class="py-5 bg-dark">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>


