<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
<th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
	<header>
		<th:block th:include="~{fragments/navbar}"></th:block>
		<script th:src="@{/js/user-validate.js}"></script>
	</header>



	<main class="mt-3">
	<h1 class="text-center text-dark">ℝ𝕖𝕘𝕚𝕤𝕥𝕖𝕣</h1>
	<hr class="hr-2 bg-dark w-25">
	<form class="form w-25 mx-auto" th:action="@{/users/register}"
		th:method="post" enctype="multipart/form-data">
		<input type="hidden" name="_csrf"
			value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
		<div class="form-group">
			<label for="usernameRegister" class="font-weight-bold">𝕌𝕤𝕖𝕣𝕟𝕒𝕞𝕖</label>
			<input type="text" class="form-control" id="usernameRegister"
				placeholder="Username..." name="username">
			<large id="nameRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="passwordRegister" class="font-weight-bold">ℙ𝕒𝕤𝕤𝕨𝕠𝕣𝕕</label>
			<input type="password" class="form-control" id="passwordRegister"
				placeholder="Password..." name="password">
			<large id="passwordRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="confirmPasswordRegister" class="font-weight-bold">ℂ𝕠𝕟𝕗𝕚𝕣𝕞
				ℙ𝕒𝕤𝕤𝕨𝕠𝕣𝕕</label> <input type="password" class="form-control"
				id="confirmPasswordRegister" placeholder="Confirm Password..."
				name="confirmPassword">
			<large id="ConfirmPasswordRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="firstNameRegister" class="font-weight-bold">𝔽𝕚𝕣𝕤𝕥
				ℕ𝕒𝕞𝕖</label> <input type="text" class="form-control" id="firstNameRegister"
				placeholder="firstName..." name="firstName">
			<large id="firstNameRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="lastNameRegister" class="font-weight-bold">𝕃𝕒𝕤𝕥
				ℕ𝕒𝕞𝕖</label> <input type="text" class="form-control" id="lastNameRegister"
				placeholder="lastName..." name="lastName">
			<large id="LastNameRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="emailRegister" class="font-weight-bold">𝔼𝕞𝕒𝕚𝕝</label> <input
				type="email" class="form-control" id="emailRegister" placeholder="Email..."
				name="email">
			<large id="EmailRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="phoneNumberRegister" class="font-weight-bold">ℙ𝕙𝕠𝕟𝕖
				ℕ𝕦𝕞𝕓𝕖𝕣</label> <input type="text" class="form-control" id="phoneNumberRegister"
				placeholder="Phone Number..." name="phoneNumber">
			<large id="phoneNumberRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="creditCardNumberRegister" class="font-weight-bold">ℂ𝕣𝕖𝕕𝕚𝕥ℂ𝕒𝕣𝕕
				ℕ𝕦𝕞𝕓𝕖𝕣</label> <input type="text" class="form-control"
				id="creditCardNumberRegister" placeholder="CreditCard Number..."
				name="creditCardNumber">
			<large id="creditCardNumberRegisterHelp" style="display: none" class="form-text text-muted"></large>
		</div>
		<div class="form-group">
			<label for="add-product-image" class="font-weight-bold">𝕀𝕞𝕒𝕘𝕖</label>
			<input type="file" class="form-control-file" id="add-product-image"
				   name="image">

		</div>
		<hr class="hr-2 bg-dark">
		<div class="button-holder d-flex justify-content-center">
			<button type="submit" class="btn btn-dark">ℝ𝕖𝕘𝕚𝕤𝕥𝕖𝕣</button>
		</div>
	</form>
	</main>



	<footer class="py-5 bg-dark">
		<th:block th:include="~{fragments/footer}"></th:block>
	</footer>
	<script>
		validFormScript();
	</script>
</body>
</html>